:root {
  --main-color: #757575;
  --complementary-color: #212121;
  --rare-color: #ffffff;
  --logo-color: #000000;
  --bg-filter-color:  #F5F4FA;
  --accent-color: #2196F3;
  --bg-rare-color: #2F303A;
  --icon-color: #AFB1B8;
  --grid-item: 1;
  --time-hover: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --btn-hover: #188CE8;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

address {
  font-style: normal;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.active-page {
  color: var(--accent-color);
  position: relative;
}

.active-page::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -1px;
  background: #2196F3;
  border-radius: 2px;
}

.link,
.projects-list__link {
  text-decoration: none;
  color: inherit;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.button {
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--rare-color);
  transition: background-color var(--time-hover);
}

.button:hover, .button:focus {
  background-color: var(--btn-hover);
}

.menu {
  display: inline-flex;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--complementary-color);
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

@media screen and (max-width: 767.98px) {
  .menu {
    display: none;
  }
}

.menu__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color var(--time-hover);
}

@media screen and (max-width: 767.98px) {
  .mobile-menu-btn {
    position: relative;
    z-index: 105;
    margin-left: auto;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
  }
  .mobile-menu-icon {
    width: 40px;
    height: 40px;
  }
  .icon-close {
    display: none;
  }
  .is-open .icon-close {
    display: block;
  }
  .is-open .icon-menu {
    display: none;
  }
  .active-page-mobile {
    color: var(--accent-color);
  }
  .mobile-menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #FFFFFF;
    transition: left 0.5s;
  }
  .mobile-menu.is-open {
    left: 0;
  }
  .mobile-menu__list {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--complementary-color);
  }
  .mobile-menu__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile-contact {
    margin-bottom: 64px;
  }
  .mobile-contact__item:first-child {
    margin-bottom: 32px;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
  .mobile-contact__item:last-child {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
  }
  .mobile-social__list {
    display: flex;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
  .mobile-social__item:not(:last-child) {
    margin-right: 20px;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
  .mobile-menu-btn {
    display: none;
  }
}

.contact {
  margin-left: auto;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 767.98px) {
  .contact {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .contact {
    font-size: 12px;
    line-height: 1.16;
  }
}

@media screen and (min-width: 1200px) {
  .contact {
    display: flex;
    margin-left: auto;
    font-weight: 500;
    letter-spacing: 0.02em;
  }
  .contact__item:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (max-width: 1199.98px) {
  .contact__item:nth-child(1) .contact__link {
    padding-top: 21px;
    padding-bottom: 5px;
  }
  .contact__item:nth-child(2) .contact__link {
    padding-top: 5px;
    padding-bottom: 21px;
  }
}

.contact__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: color var(--time-hover);
}

@media screen and (min-width: 1200px) {
  .contact__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contact__link-icon {
  margin-right: 10px;
  fill: currentColor;
}

.social-icons {
  display: inline-flex;
}

.social-icons__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color var(--time-hover);
}

.social-icons__icon {
  width: 20px;
  height: 20px;
  transition: fill var(--time-hover);
  fill: var(--icon-color);
}

.social-icons__link:hover .social-icons__icon,
.social-icons__link:focus .social-icons__icon {
  fill: var(--rare-color);
}

.social-icons__link:hover, .social-icons__link:focus {
  background-color: var(--accent-color);
}

.social-icons__item:not(:last-child) {
  margin-right: 10px;
}

.social-icons__icon--fill {
  fill: var(--rare-color);
}

.social-icons__link--color {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-icons__link--color:hover, .social-icons__link--color:focus {
  background-color: var(--accent-color);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: var(--accent-color);
}

@media screen and (max-width: 1199.98px) {
  .logo {
    font-size: 24px;
    line-height: 1.16;
  }
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
}

.footer__logo--color {
  color: var(--rare-color);
}

.common__title {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--complementary-color);
}

.section__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--complementary-color);
}

@media screen and (max-width: 1199.98px) {
  .section__title {
    font-size: 28px;
    line-height: 1.17;
  }
}

.form__field {
  font-size: 16px;
  line-height: 1.25;
  background-color: transparent;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  width: 358px;
  color: var(--rare-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  transition: border-color var(--time-hover);
}

.form__field:focus {
  outline: none;
  border-color: var(--accent-color);
}

.form__field::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.form__field:focus::placeholder {
  color: #f7f7f7;
}

.form__field:-webkit-autofill, .form__field:-webkit-autofill:hover, .form__field:-webkit-autofill:focus {
  -webkit-text-fill-color: #ffffff;
  -webkit-box-shadow: 0 0 0px 1000px var(--bg-rare-color) inset;
}

@media screen and (min-width: 480px) and (max-width: 1199.98px) {
  .form__field {
    width: 450px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .form__field {
    width: 358px;
    margin-bottom: 20px;
    margin-right: 7px;
  }
}

.form__send {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 28px;
  padding-left: 29px;
  transition: background-color var(--time-hover);
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .form__send {
    display: flex;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .form__send {
    display: inline-flex;
    align-items: center;
  }
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 1500ms, visibility 1500ms;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity var(--time-hover);
}

.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal {
  width: 100%;
  max-width: 528px;
  min-height: 581px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  background-color: var(--rare-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms ease-in-out 250ms;
}

.modal__btn-close .icon {
  width: 11px;
  height: 11px;
}

.modal__btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  transition: background-color var(--time-hover), fill var(--time-hover);
}

.modal__btn-close:hover {
  fill: var(--accent-color);
  background-color: rgba(0, 0, 0, 0.1);
}

.modal__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--complementary-color);
}

.modal-form__label {
  width: 448px;
}

.modal-form__field {
  width: 100%;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--time-hover);
}

.modal-form__field:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form__field:focus + .modal-form__icon {
  fill: var(--accent-color);
}

.modal-form__field:-webkit-autofill, .modal-form__field:-webkit-autofill:hover, .modal-form__field:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--complementary-color);
  -webkit-box-shadow: 0 0 0px 1000px var(--rare-color) inset;
}

.modal-form__field + .modal-form__icon {
  transition: fill var(--time-hover);
}

.modal-form__position {
  position: relative;
  margin-bottom: 10px;
}

.modal-form__icon {
  position: absolute;
  fill: var(--complementary-color);
  width: 18px;
  height: 18px;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.modal-form__field-text {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.modal-form__textarea-field {
  padding-top: 12px;
  padding-bottom: 16px;
  padding-right: 16px;
  padding-left: 16px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  transition: border-color var(--time-hover);
}

.modal-form__textarea-field:focus {
  outline: none;
  border-color: var(--accent-color);
}

.form__textarea {
  width: 448px;
  margin-bottom: 20px;
}

.form__textarea-text {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.check {
  display: block;
  text-align: center;
  padding-left: 16px;
  margin-bottom: 30px;
}

.form__check-link {
  color: var(--accent-color);
}

.form__check,
.form__check-link {
  font-size: 14px;
}

.form__check {
  transition: color var(--time-hover);
}

.check__input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.check__box {
  position: absolute;
  width: 16px;
  height: 15px;
  background-image: url(../images/no.svg);
  margin-left: -21px;
}

.check__input:focus + .check__box + .form__check {
  box-shadow: #188CE8;
  color: #000;
}

.check__input:checked + .check__box {
  box-shadow: #188CE8;
  background-image: url(../images/yes.svg);
}

.modal-form__button {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 200px;
  padding: 10px 55px 10px 55px;
  transition: background-color var(--time-hover);
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.grid-item {
  flex-basis: calc((100% - 30px * var(--grid-item)) / var(--grid-item));
  margin-left: 30px;
  margin-top: 30px;
}

.navigation {
  display: flex;
  align-items: center;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

@media screen and (max-width: 1199.98px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.header {
  border-bottom: 1px solid #ECECEC;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 93px;
  padding-top: 26px;
  padding-bottom: 26px;
}

.header__logo--color {
  color: var(--logo-color);
}

@media screen and (max-width: 767.98px) {
  .header__logo {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .header__logo {
    margin-right: 88px;
  }
}

.hero {
  background-color: var(--bg-rare-color);
}

.hero-bg {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 1200px) {
  .hero-bg {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-hero.jpg);
  }
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

@media screen and (max-width: 1199.98px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 118px;
  }
}

.hero__title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  max-width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--rare-color);
}

@media screen and (max-width: 1199.98px) {
  .hero__title {
    max-width: 360px;
    font-size: 26px;
    line-height: 1.62;
  }
}

.hero__button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 32px;
  padding-left: 32px;
}

.hero__button:hover {
  background-color: #188CE8;
}

@media screen and (max-width: 1199.98px) {
  .about {
    padding-bottom: 0;
  }
}

.about__item::before {
  margin-bottom: 30px;
  content: '';
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #F5F4FA;
  height: 120px;
}

.about__item:nth-child(1)::before {
  content: '';
  display: block;
  background-image: url(../images/icons/antenna.svg);
}

.about__item:nth-child(2)::before {
  content: '';
  display: block;
  background-image: url(../images/icons/clock.svg);
}

.about__item:nth-child(3)::before {
  content: '';
  display: block;
  background-image: url(../images/icons/diagram.svg);
}

.about__item:nth-child(4)::before {
  content: '';
  display: block;
  background-image: url(../images/icons/astronaut.svg);
}

@media screen and (min-width: 480px) {
  .about__item {
    flex-basis: calc((100% - 30px) / 1);
  }
}

@media screen and (min-width: 768px) {
  .about__item {
    flex-basis: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .about__item {
    flex-basis: calc((100% - 120px) / 4);
  }
}

.about__item-text {
  margin-bottom: 0;
  line-height: 1.71;
}

.about__item-title {
  margin-bottom: 10px;
}

.services {
  padding-top: 0;
}

@media screen and (max-width: 1199.98px) {
  .services {
    display: none;
  }
}

.services__item {
  position: relative;
  --grid-item: 3;
}

.services__item-title {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  background: rgba(47, 48, 58, 0.8);
  width: 100%;
  margin-bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 80px;
  padding-right: 80px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--rare-color);
}

.team__item {
  --grid-item: 1;
  background: var(--rare-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) {
  .team__item {
    --grid-item: 2;
    background-color: lightblue;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    --grid-item: 4;
  }
}

.team__content {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 24px;
  padding-left: 24px;
}

.team {
  background-color: var(--bg-filter-color);
}

.team__list {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.team__title {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.18;
  font-weight: 500;
  color: var(--complementary-color);
}

.team__text {
  margin-bottom: 16px;
}

.partners__list {
  color: var(--icon-color);
  display: flex;
}

.partners__item {
  outline: none;
}

@media screen and (min-width: 480px) {
  .partners__item {
    --grid-item: 2;
    background-color: lightblue;
  }
}

@media screen and (min-width: 768px) {
  .partners__item {
    --grid-item: 3;
    background-color: lightblue;
  }
}

@media screen and (min-width: 1200px) {
  .partners__item {
    --grid-item: 6;
  }
}

.partners__item-icon {
  fill: currentColor;
  transition: fill var(--time-hover);
}

.partners__item-icon:hover, .partners__item-icon:focus {
  outline: none;
  fill: var(--accent-color);
}

.partners__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  border: 1px solid currentColor;
  border-radius: 4px;
  transition: color var(--time-hover);
  outline: none;
}

.filter {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.filter__grid:not(:last-child) {
  margin-right: 8px;
}

.filter__item {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  background-color: var(--bg-filter-color);
  color: var(--complementary-color);
  transition: background-color var(--time-hover), color var(--time-hover), box-shadow var(--time-hover);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.filter__item:focus, .filter__item:hover {
  background-color: #2196F3;
  color: var(--rare-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects-list__title {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--complementary-color);
}

.projects-list__text {
  font-size: 16px;
  line-height: 1.87;
}

.projects-list__item {
  --grid-item: 3;
}

.projects-list__link {
  display: block;
  position: relative;
  overflow: hidden;
  transition: box-shadow var(--time-hover);
}

.projects-list__link:hover .projects-list__hidden,
.projects-list__link:focus .projects-list__hidden {
  transform: translatey(0);
}

.projects-list__link:hover, .projects-list__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-list__hidden {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 63px;
  padding-bottom: 63px;
  padding-right: 24px;
  padding-left: 24px;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 1.55;
  color: var(--rare-color);
  background: rgba(33, 150, 243, 0.9);
  transform: translatey(100%);
  transition: transform var(--time-hover);
}

.projects-list__hidden p {
  margin-bottom: 0;
}

.projects-list__text {
  margin-bottom: 0;
}

.projects-list__content {
  position: relative;
  padding: 20px 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;
  background-color: var(--rare-color);
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.address {
  line-height: 1.71;
  color: #FFFFFF;
}

@media screen and (min-width: 480px) and (max-width: 1200px) {
  .address {
    margin-bottom: 60px;
  }
}

.address__text {
  margin-bottom: 0;
}

.address__contacts {
  color: rgba(255, 255, 255, 0.6);
  display: inline-block;
  margin-top: 9px;
  transition: color var(--time-hover);
}

.footer {
  background-color: var(--bg-rare-color);
}

.footer__title {
  margin-bottom: 20px;
  color: var(--rare-color);
}

@media screen and (max-width: 1199.98px) {
  .footer__title {
    text-align: center;
  }
}

.footer__container {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 480px) and (max-width: 1199.98px) {
  .footer__container {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer__block:first-child {
    flex-basis: calc(50% - 137px);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer__block:nth-child(2) {
    flex-basis: calc(50% - 163px);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer__block {
    flex-basis: calc((100% - 165px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .footer__block {
    flex-basis: calc((50% - 45px) / 2);
  }
  .footer__block:last-child {
    flex-basis: calc(50% - 15px);
  }
}

@media screen and (min-width: 480px) {
  .footer__social {
    margin-bottom: 60px;
  }
}

.footer__icon {
  fill: currentColor;
  margin-left: 10px;
}
/*# sourceMappingURL=main.css.map */