.modal-form__label{
    width: 448px;
}
.modal-form__field{
    width: 100%;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border-color var(--time-hover);

    &:focus{
        outline: none;
        border-color: var(--accent-color);
    }
    &:focus + .modal-form__icon{
        fill: var(--accent-color);;
    }
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus{
        -webkit-text-fill-color: var(--complementary-color);
        -webkit-box-shadow: 0 0 0px 1000px var(--rare-color) inset;
    }
}

.modal-form__field + .modal-form__icon{
    transition: fill var(--time-hover);
}

.modal-form__position {
    position: relative;
    margin-bottom: 10px;
}
.modal-form__icon{
    position: absolute;
    fill: var(--complementary-color);
    width: 18px;
    height: 18px;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
}
.modal-form__field-text{
    display: block;
    margin-bottom: 4px;

    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
}
.modal-form__textarea-field{
    padding-top: 12px;
    padding-bottom: 16px;
    padding-right: 16px;
    padding-left: 16px;
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    resize: none;

    transition: border-color var(--time-hover);

    &:focus{
        outline: none;
        border-color: var(--accent-color);
    }
}
.form__textarea{
    width: 448px;
    margin-bottom: 20px;
}
.form__textarea-text{
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
}

.check{
    display: block;
    text-align: center;
    padding-left: 16px;
    margin-bottom: 30px;
}
.form__check-link{
    color: var(--accent-color);
}
.form__check,
.form__check-link{
    font-size: 14px;
}
.form__check{
    transition: color var(--time-hover);
}
.check__input{
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.check__box{
    position: absolute;
    width: 16px;
    height: 15px;
    background-image: url(../images/no.svg);

    margin-left: -21px;
}

.check__input:focus + .check__box + .form__check{
    box-shadow: #188CE8;
    color: #000;
}
.check__input:checked + .check__box{
    box-shadow: #188CE8;
    background-image: url(../images/yes.svg);
} 
.modal-form__button{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 200px;
    padding: 10px 55px 10px 55px;

    transition: background-color var(--time-hover);
}