html{
    box-sizing: border-box;
}
*,
*::after,
*::before{
    box-sizing: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-top: 0;
}
body{
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--main-color);
}
address {
  font-style: normal;
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
.active-page{
    color: var(--accent-color);
    position: relative;
    &::after{
        content: "";

        position: absolute;
        width: 100%;
        height: 4px;
        bottom: -1px;
        background: #2196F3;
        border-radius: 2px;
    }
}
.link,
.projects-list__link {
    text-decoration: none;
    color: inherit;
}
.link:hover,
.link:focus {
  color: var(--accent-color);
}
.list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
