:root{
    --main-color: #757575;
    --complementary-color: #212121;
    --rare-color: #ffffff;
    --logo-color: #000000;
    --bg-filter-color:  #F5F4FA;
    --accent-color: #2196F3;
    --bg-rare-color: #2F303A;
    --icon-color: #AFB1B8;
    --grid-item: 1;
    --time-hover: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --btn-hover: #188CE8;
}