.address{
    line-height: 1.71;
    color: #FFFFFF;
    @media screen and (min-width: 480px) and (max-width: 1200px) {
        margin-bottom: 60px;
    }
}
.address__text{
    margin-bottom: 0;
}
.address__contacts{
    color: rgba(255, 255, 255, 0.6);
    display: inline-block;
    margin-top: 9px;

    transition: color var(--time-hover)
}