.projects-list__title{
    margin-bottom: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--complementary-color);
}
.projects-list__text{
    font-size: 16px;
    line-height: 1.87;
}
.projects-list__item{
    --grid-item: 3;
}
.projects-list__link{
    display: block;
    position: relative;
    overflow: hidden;
    transition: box-shadow var(--time-hover);
    &:hover .projects-list__hidden,
    &:focus .projects-list__hidden{
        transform: translatey(0);
    }
    &:hover,
    &:focus{
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}
.projects-list__hidden{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    padding-top: 63px;
    padding-bottom: 63px;
    padding-right: 24px;
    padding-left: 24px;

    margin-bottom: 0;

    font-size: 18px;
    line-height: 1.55;
    color: var(--rare-color);

    background: rgba(33, 150, 243, 0.9);

    transform: translatey(100%);
    transition: transform var(--time-hover);
}
.projects-list__hidden p {
    margin-bottom: 0;
}

.projects-list__text{
    margin-bottom: 0;
}
.projects-list__content{
    position: relative;
    padding: 20px 24px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 24px;
    padding-left: 24px;
    background-color: var(--rare-color);
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
}